resources/odd/OldSandNStars.odd

<?xml-model href="teipublisher_odds.xsd"?><tei:TEI xmlns:pb="http://teipublisher.com/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader xmlns="http://www.tei-c.org/ns/1.0">
        <fileDesc>
            <titleStmt>
                <title>Sand and Stars Old   <desc>Displaying the Sand and Stars Synoptic
                    version</desc>
                </title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under
                        GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions
                            GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify it under
                        the terms of the GNU General Public License as published by the Free
                        Software Foundation, either version 3 of the License, or (at your option)
                        any later version.</p>
                    <p>This program is distributed in the hope that it will be useful, but WITHOUT
                        ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
                        FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
                        more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="../css/SandNStars.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-09-12+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text xmlns="http://www.tei-c.org/ns/1.0">
        <body>
            <schemaSpec start="TEI teiCorpus" ident="dantiscus" source="teipublisher.odd">
                <elementSpec ident="pb" mode="change">
                    <model behaviour="omit" useSourceRendition="true">
            <param name="type" value="'page'"/>
            <param name="label" value="(concat(if(@n) then concat(@n,' ') else '',if(@facs) then                   concat('@',@facs) else ''))"/>
            <outputRendition xml:space="preserve">
            display: block; margin-left: 4pt; color: grey; float: right;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content: '[Page ';
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content: ']';
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
            <param name="content" value="corr[1]"/>
        </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
            <param name="content" value="expan[1]"/>
        </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
            <param name="content" value="reg[1]"/>
        </model>
                    <model predicate="sic and corr" behaviour="alternate" cssClass="attrChoice">
            <param name="default" value="sic[1] || &#34; (sic)&#34;"/>
            <param name="alternate" value="corr[1]"/>
        </model>
                    <model predicate="$parameters?mode='norm' and abbr and expan" behaviour="alternate" cssClass="choice">
            <param name="default" value="expan[1]"/>
            <param name="alternate" value="abbr[1]"/>
        </model>
                    <modelSequence predicate="abbr and expan">
            <model behaviour="alternate" cssClass="choice">
                <param name="default" value="abbr[1]"/>
                <param name="alternate" value="expan[1]"/>
            </model>
            <model behaviour="alternate" cssClass="choice-alternate">
                <param name="alternate" value="abbr[1]"/>
                <param name="default" value="expan[1]"/>
            </model>
        </modelSequence>
                    <model predicate="orig and reg" behaviour="alternate" cssClass="choice">
            <param name="default" value="reg[1]"/>
            <param name="alternate" value="orig[1]"/>
        </model>
                </elementSpec>
                <elementSpec ident="person" mode="add"/>
                <elementSpec ident="persName" mode="add">
                    <model predicate="@ref" behaviour="link" cssClass="cssPerson">
            <param name="uri" value="@ref"/>
            <param name="target" value="&#34;_blank&#34;"/>
            <outputRendition xml:space="preserve">
            text-decoration:none!important;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model predicate="@ref" behaviour="link" cssClass="cssPerson">
            <param name="uri" value="@ref"/>
            <param name="target" value="&#34;_blank&#34;"/>
            <outputRendition xml:space="preserve">
            text-decoration:none!important;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="orgName" mode="add">
                    <model predicate="@ref" behaviour="link" cssClass="cssPerson">
            <param name="uri" value="@ref"/>
            <param name="target" value="&#34;_blank&#34;"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            color:blue;
font-weight:bold;
text-decoration:none!important;
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="name" mode="add">
                    <model predicate="@ref" behaviour="link" cssClass="cssPerson">
            <param name="uri" value="@ref"/>
            <param name="target" value="&#34;_blank&#34;"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            color:blue;
font-weight:bold;
text-decoration:none!important;
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <modelSequence predicate="$parameters?mode='facets'">
            <model behaviour="webcomponent">
                <param name="name" value="'pb-highlight'"/>
                <param name="key" value="@xml:id"/>
                <param name="highlight-self" value="'highlight-self'"/>
                <param name="scroll" value="'scroll'"/>
                <param name="subscribe" value="'highlight'"/>
                <param name="emit" value="'highlight'"/>
                <param name="content" value="let $n:= substring-after(@xml:id, 'note') return '(' || $n || ') ' || ."/>
                <outputRendition xml:space="preserve">
                
                
                
                
                
                
                
                
                border-top: 1px solid #A0A0A0;
display:block;
margin-top:12px!important;
padding-top:6px!important;
font-size:16px;
                
                
                
                
                
                
                
                
                </outputRendition>
            </model>
            <model predicate="@source" behaviour="link">
                <param name="uri" value="@source"/>
                <param name="target" value="'_blank'"/>
                <param name="content" value="'Related Link'"/>
                <outputRendition xml:space="preserve">
                font-size:16px;
                </outputRendition>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color:red;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="rs" mode="change">
                    <model behaviour="alternate" cssClass="name">
            <param name="default" value="."/>
            <param name="alternate" value="id(substring-after(@ref, '#'), root($parameters?root))/node()"/>
        </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change"/>
                <elementSpec ident="titleStmt" mode="change">
                    <model output="latex" behaviour="meta">
            <param name="content" value="."/>
        </model>
                    <model output="fo" behaviour="heading"/>
                    <modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence>
                    <model output="web" predicate="$parameters?mode='title'" behaviour="inline">
            <param name="content" value="title[not(@type)]"/>
        </model>
                    <model output="web" behaviour="heading">
            <param name="level" value="4"/>
        </model>
                </elementSpec>
                <elementSpec ident="teiHeader" mode="change">
                    <model output="latex" behaviour="block">
            <param name="content" value="(fileDesc/titleStmt/title[not(@type)], profileDesc/correspDesc)"/>
            <pb:template xmlns="" xml:space="preserve">\def\volume{[[content]]}</pb:template>
        </model>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                    <model output="web" predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="(fileDesc/titleStmt/title[not(@type)])"/>
            <param name="level" value="5"/>
        </model>
                    <model output="web" behaviour="metadata"/>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <model predicate="$parameters?mode='norm'" behaviour="omit"/>
                    <model behaviour="break" cssClass="lb" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="app" mode="change">
                    <model behaviour="inline">
            <param name="content" value="lem"/>
            <param name="alternate" value="rdg"/>
            <param name="persistent" value="true()"/>
            <param name="name" value="'pb-popover'"/>
            <pb:template xmlns="" xml:space="preserve">
                <pb-popover persistent="[[persistent]]">[[content]]<span slot="alternate">[[alternate]]</span></pb-popover>
            </pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="foreign" mode="change">
                    <model predicate="@xml:lang='Hebrew'" behaviour="alternate" cssClass="attrForeign langHebrew">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Language: &#34; || @xml:lang"/>
        </model>
                    <model predicate="@xml:lang='Russion'" behaviour="alternate" cssClass="attrForeign langRussion">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Language: &#34; || @xml:lang"/>
        </model>
                    <model predicate="@xml:lang='English'" behaviour="alternate" cssClass="attrForeign langEnglish">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Language: &#34; || @xml:lang"/>
        </model>
                    <model behaviour="alternate" cssClass="attrForeign langElse">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Language: &#34; || @xml:lang"/>
        </model>
                </elementSpec>
                <elementSpec ident="head" mode="change">
                    <model predicate="@type='section'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-size:30px;
            </outputRendition>
        </model>
                    <model predicate="@type='chapter'" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-size:24px;
            </outputRendition>
        </model>
                    <model predicate="@type='h3'" behaviour="alternate" cssClass="attrHead3">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Head h3&#34;"/>
        </model>
                    <model behaviour="alternate" cssClass="attrHead">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Head&#34;"/>
        </model>
                </elementSpec>
                <elementSpec ident="stage" mode="change">
                    <model predicate="ancestor::lg[@rend='bracket']" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Stage&#34;"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            font-size:15px;
color:chocolate;
position:absolute;
margin-right: -3em!important;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                    <model predicate="@rend=&#34;h3&#34;" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Stage h3&#34;"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            font-size:1.4em;
color:chocolate;
display:block;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                    <model behaviour="alternate" cssClass="attrStage">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Stage&#34;"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            font-size:15px;
    color:chocolate;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="sp" mode="change">
                    <modelSequence predicate="ancestor::text">
            <desc>only under text (synoptic)</desc>
            <model behaviour="webcomponent">
                <param name="name" value="'pb-highlight'"/>
                <param name="key" value="let $key:= substring-after(@xml:id, '_') return $key"/>
                <param name="highlight-self" value="'highlight-self'"/>
            </model>
            <model behaviour="alternate">
                <param name="default" value="let $key:= substring-after(@xml:id, '_') return $key"/>
                <param name="alternate" value="@xml:id"/>
                <outputRendition xml:space="preserve">
                background-color:lightblue;font-size:1rem;margin-right:3rem
                </outputRendition>
            </model>
        </modelSequence>
                    <model predicate="ancestor::text" behaviour="webcomponent">
            <desc>only under text (synoptic)</desc>
            <param name="name" value="'pb-highlight'"/>
            <param name="key" value="let $key:= substring-after(@xml:id, '_') return $key"/>
            <param name="highlight-self" value="'highlight-self'"/>
        </model>
                </elementSpec>
                <elementSpec ident="p" mode="change">
                    <model behaviour="block" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            margin-right: 1em;
margin-top:0.5em;
margin-bottom:1em;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="speaker" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            font-style:italic;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:":"
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="unclear" mode="change">
                    <model behaviour="alternate" cssClass="attrUnclear">
            <param name="default" value="."/>
            <param name="alternate" value="&#34;Unclear&#34;"/>
            <outputRendition xml:space="preserve" scope="after">
            content: ' [?] ';
            </outputRendition>
        </model>
                </elementSpec>

                <elementSpec ident="l" mode="change">
                    <model behaviour="block" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            margin-right: 3em;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="castItem" mode="change">
                    <model behaviour="row">
            <desc>Insert item, rendered as described in parent list rendition. </desc>
        </model>
                </elementSpec>
                <elementSpec ident="actor" mode="change">
                    <model behaviour="cell"/>
                </elementSpec>
                <elementSpec ident="role" mode="change">
                    <model behaviour="cell"/>
                </elementSpec>
                <elementSpec ident="roleDesc" mode="change">
                    <model behaviour="cell"/>
                </elementSpec>
                <elementSpec ident="castList" mode="change">
                    <model behaviour="table" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            table-layout: auto;
width: 100%;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="span" mode="change">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            color:brown;
font-weight:bold;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="fw" mode="change">
                    <model predicate="ancestor::node()[starts-with(@xml:id, 'En')]" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"[p. ";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"]";
            </outputRendition>
            <outputRendition xml:space="preserve">
            background:whitesmoke
            </outputRendition>
        </model>
                    <model predicate="ancestor::node()[starts-with(@xml:id, 'He')]" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"[ע' ";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"]";
            </outputRendition>
            <outputRendition xml:space="preserve">
            background:whitesmoke
            </outputRendition>
        </model>
                    <model predicate="ancestor::node()[starts-with(@xml:id, 'De')]" behaviour="inline">
            <outputRendition xml:space="preserve" scope="before">
            content:"[S. ";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content:"]";
            </outputRendition>
            <outputRendition xml:space="preserve">
            background:whitesmoke
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="'hi'"/>
            <outputRendition xml:space="preserve">
            background:palegoldenrod;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="Div" mode="add"/>
                <elementSpec ident="lg" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            margin-bottom:1rem
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="milestone" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="add" mode="change">
                    <model behaviour="alternate">
            <param name="alternate" value="'Addition'"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            color:darkorange;
font-weight:bold;
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="del" mode="change">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            text-decoration: line-through;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="ab" mode="change"/>
                <elementSpec ident="body" mode="change">
                    <modelSequence predicate="$parameters?mode='facets'">
            <model behaviour="heading">
                <param name="content" value="'Notes'"/>
                <param name="level" value="2"/>
            </model>
            <model behaviour="block">
                <param name="content" value="."/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <modelSequence>
            <model predicate="not(fn:empty(.)) and not(.='')" behaviour="webcomponent">
                <param name="name" value="'pb-highlight'"/>
                <param name="key" value="let $key:= substring-after(@target, '#') return $key"/>
                <param name="subscribe" value="'highlight'"/>
                <param name="emit" value="'highlight'"/>
                <param name="scroll" value="'scroll'"/>
                <param name="content" value="."/>
                <outputRendition xml:space="preserve">
                color:blue;
                </outputRendition>
            </model>
            <model behaviour="webcomponent">
                <param name="name" value="'pb-highlight'"/>
                <param name="key" value="let $key:= substring-after(@target, '#') return $key"/>
                <param name="subscribe" value="'highlight'"/>
                <param name="emit" value="'highlight'"/>
                <param name="scroll" value="'scroll'"/>
                <param name="content" value="let $n:= substring-after(@target, '#note') return $n"/>
                <outputRendition xml:space="preserve">
                
                
                
                
                
                vertical-align:super;
font-weight:600;
font-size:16px;
color:blue;
                
                
                
                
                
                </outputRendition>
            </model>
        </modelSequence>
                    <model predicate="not(@target)" behaviour="inline"/>
                    <model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                </elementSpec>
                <elementSpec ident="a" mode="add"/>
                <elementSpec ident="s" mode="change">
                    <model behaviour="webcomponent">
            <param name="name" value="'pb-highlight'"/>
            <param name="key" value="let $key:='s' || substring-after(substring-after(substring-after(@xml:id, '_'), '_'), '_') return $key"/>
            <param name="highlight-self" value="'highlight-self'"/>
            <param name="scroll" value="'scroll'"/>
            <outputRendition xml:space="preserve" scope="after">
            content:' '
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="quote" mode="change">
                    <model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                  level</desc>
        </model>
                    <model behaviour="block" useSourceRendition="true">
            <desc>If it is inside a paragraph then it is inline, otherwise it is block
                  level</desc>
            <outputRendition xml:space="preserve">
            margin-left: 10px; margin-right: 10px; 
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>



        </body>
    </text>
</tei:TEI>